@font-face {
    font-family: 'gothambold1';
    src: url('../fonts/gothambold1/gothambold1.eot');
    src: url('../fonts/gothambold1/gothambold1.eot') format('embedded-opentype'),
         url('../fonts/gothambold1/gothambold1.woff2') format('woff2'),
         url('../fonts/gothambold1/gothambold1.woff') format('woff'),
         url('../fonts/gothambold1/gothambold1.ttf') format('truetype'),
         url('../fonts/gothambold1/gothambold1.svg#gothambold1') format('svg');
}

@font-face {
    font-family: 'GothaProBol';
    src: url('../fonts/GothaProBol/GothaProBol.eot');
    src: url('../fonts/GothaProBol/GothaProBol.eot') format('embedded-opentype'),
         url('../fonts/GothaProBol/GothaProBol.woff2') format('woff2'),
         url('../fonts/GothaProBol/GothaProBol.woff') format('woff'),
         url('../fonts/GothaProBol/GothaProBol.ttf') format('truetype'),
         url('../fonts/GothaProBol/GothaProBol.svg#GothaProBol') format('svg');
}

@font-face {
    font-family: 'libertymtboldwebfont';
    src: url('../fonts/libertymtboldwebfont/libertymtboldwebfont.eot');
    src: url('../fonts/libertymtboldwebfont/libertymtboldwebfont.eot') format('embedded-opentype'),
         url('../fonts/libertymtboldwebfont/libertymtboldwebfont.woff2') format('woff2'),
         url('../fonts/libertymtboldwebfont/libertymtboldwebfont.woff') format('woff'),
         url('../fonts/libertymtboldwebfont/libertymtboldwebfont.ttf') format('truetype'),
         url('../fonts/libertymtboldwebfont/libertymtboldwebfont.svg#libertymtboldwebfont') format('svg');
}

@font-face {
    font-family: 'libertymtmediumwebfont';
    src: url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.eot');
    src: url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.eot') format('embedded-opentype'),
         url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.woff2') format('woff2'),
         url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.woff') format('woff'),
         url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.ttf') format('truetype'),
         url('../fonts/libertymtmediumwebfont/libertymtmediumwebfont.svg#libertymtmediumwebfont') format('svg');
}

@font-face {
    font-family: 'libertynusmediumwebfont';
    src: url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.eot');
    src: url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.eot') format('embedded-opentype'),
         url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.woff2') format('woff2'),
         url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.woff') format('woff'),
         url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.ttf') format('truetype'),
         url('../fonts/libertynusmediumwebfont/libertynusmediumwebfont.svg#libertynusmediumwebfont') format('svg');
}

@font-face {
    font-family: 'libertynusregularwebfont';
    src: url('../fonts/libertynusregularwebfont/libertynusregularwebfont.eot');
    src: url('../fonts/libertynusregularwebfont/libertynusregularwebfont.eot') format('embedded-opentype'),
         url('../fonts/libertynusregularwebfont/libertynusregularwebfont.woff2') format('woff2'),
         url('../fonts/libertynusregularwebfont/libertynusregularwebfont.woff') format('woff'),
         url('../fonts/libertynusregularwebfont/libertynusregularwebfont.ttf') format('truetype'),
         url('../fonts/libertynusregularwebfont/libertynusregularwebfont.svg#libertynusregularwebfont') format('svg');
}
