html{
    scroll-behavior: smooth;
}

/*DISPLAY FLEX*/

.d-flex{
	display: flex;
}
.align-items{
	align-items: center;
	justify-content: center;
}
.jc-space-between{
	align-items: center;
	justify-content: space-between;
}
.jc-space-around{
	align-items: center;
	justify-content: space-around;
}
.d-wrap{
	display: flex;
	flex-wrap: wrap;
}
.d-row{
	display: flex;
	flex-direction: row;
	flex-direction: column;
}
.df-Wcol{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/*DISPLAY FLEX*/

/*MAIN BASSE CLASS*/
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.text-center{
	text-align: center;
}
.inline-block{
	display: inline-block;
	vertical-align: middle;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.relative{
    position: relative;
}
.absolute{
	position: absolute;
}

.header-fixed{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	// background: black;  /* background for change */
}
.footer-burger,
.burger{
	content: "";
	width: 25px;
	height: 4px;
	display: block;
	background-color: #000000;
	margin-bottom: 3px;
	border-radius: 4px;
	size: 30px;
}
.footer-burger:last-child,
.burger:last-child{
	margin-bottom: 0px;
}
.show{
    display: block !important;
}
.hidden{
    display: none;
}
.main-section{
	padding: 50px 0;
}
body{
	background: $Gray-1;
}

.gotop{
	display: none;
	height: 50px;
	width: 50px;
	background: green;
	position: fixed;
	bottom: 50px;
	right: 50px;
	border-radius: 50px;
	z-index: 25;
	line-height: 1.7;
    text-align: center;
    font-size: 24px;
	padding: 5px;
	transform: rotate(90deg);
	color: $White;
}
.active{
	color: $Blue-1 !important;
	text-decoration: underline !important;
}