// FONTS

$GotHamBold1 : 'gothambold1';
$GotHaProBo1 : 'GothaProBol';
$LiberBold   : 'libertymtboldwebfont';
$LiberMedium : 'libertymtmediumwebfont';
$LiberNusMedium : 'libertynusmediumwebfont';
$LiberNusRegular : 'libertynusregularwebfont';


// COLORS

$White :  #ffffff;
$Black :  #000000;
$Black-2: #333333;
$Gray-1:  #dce3e6;
$Gray-2:  #5f707d;
$Gray-3:  #999999;
$Blue-1:  #445bfd;
$Lblue:   #00aff1;